@charset "utf-8";

/*font*/
@font-face{
	font-family:nanum;
	src:local('NanumGothic'),
		url("../font/NanumGothic.eot"),
		url("../font/NanumGothic.woff") format('woff'),
		url("../font/NanumGothic.ttf") format('truetype');
}

/*reset*/
*{box-sizing: border-box; outline:none;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit; cursor: url("../images/hand.cur"), auto;}
body{font: normal 16px/1.5em "nanum"; background-color: #fff; color: #222; cursor: url("../images/hand.cur"), auto;}
input:focus{outline:none;}

/*scroll*/
body {    
    overflow: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
	height: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

/*card*/
.card{width: 100%; height: 1800px; margin: 0 auto; position: relative; transition: transform 1s; transform-style: preserve-3d; background-color: #fff;}
.front, .back{position: absolute; width: 100%; height: 100%; backface-visibility: hidden;}
.card.click{transform: rotateY(180deg);}

/*front*/
.front .title{text-align: center; margin-top: 300px;}
.front .title .tit{font-weight: bold; font-size: 56px; margin-bottom: 60px; display: block;}
.front .title .of{font-size: 40px; display: block; margin-bottom: 60px;}
.front .title .stit{font-size: 70px; display: block; margin-bottom: 20px;}
.front .title .stit strong{font-weight: bold;}
.front .title .job{font-size: 30px;}

.front .info{width: 380px;float: right; margin-top: 800px; margin-right: 180px;}
.front .info .tit{display: block; height: 50px; border-bottom: 1px solid #000; font-size: 34px; font-weight: bold;}
.front .info .email{display: block; height: 50px; border-bottom: 1px solid #000; font-size: 20px;}
.front .info .phone{display: block; height: 50px; height: 50px; border-bottom: 1px solid #000; font-size: 20px;}

.front_arrow{width: 25px; height: 25px; position: fixed; top: 20px; right: 100px;}

/*back*/
.back{transform:rotateY(-180deg);}
.back_arrow{transform: rotate(180deg); width: 25px; height: 25px; position: fixed; top: 20px; right: 100px;}

/*skill*/
.skill{width: 1200px; margin: 0 auto; padding-top: 110px; margin-bottom: 80px;}
.skill >span.tit{font-size: 25px; font-weight: bold; display: block; margin-bottom: 30px;}
.skill >ul > li{list-style: inside; line-height: 30px;}

.skill>section{float: left; margin-top: 30px;width: 300px; height: 430px; text-align: center; line-height: 25px;}
.skill>section>img{width: 200px;}
.skill>section>span{display: block;text-align: left; margin: 0 20px; border-bottom: 1px solid #000; font-weight: bold;padding-bottom: 10px; margin-bottom: 10px; font-size: 15px;}
.skill>section>ul{text-align: left; padding-left: 20px; font-size: 14px;}

/*post*/
.post{width: 450px; height: 240px; background-color: #FFF572; padding: 50px; clear: both; margin-left: 00px; margin-bottom: 80px; transition: all 0.4s;}
.post span.tit{font-size: 25px; display: block; line-height: 40px; text-decoration: underline; margin-bottom: 20px; font-weight: bold;}
.post span.txt{line-height: 25px; font-size: 14px;}
.post:hover{transform: rotate(3deg);}

/*skill_fin*/
.skill_fin span{display: block;}
.skill_fin .tit{font-weight: bold; font-size: 22px; margin-bottom: 30px;}
.skill_fin li{line-height: 30px; list-style: inside;}
/*pos:r로 가려질땐 z 인덱스 주고 pos:r 줘야함*/

/*portfolio tit*/
.portfolio{width: 100%; height: 580px;padding: 80px 0;}
.portfolio .center_wrap{width: 1200px; margin: 0 auto;}
.portfolio .tit{font-size: 25px; font-weight: bold; display: block; margin-bottom: 50px;}

/*portfolio section*/
.portfolio section{width: 370px; float: left; margin-right: 30px; padding: 50px; background-color: #F9B1CC; transition: all 0.4s;}
.portfolio .stit{display: block; margin-bottom: 25px; font-weight: bold; font-size: 20px;}
.portfolio ul li{line-height: 30px; font-size: 16px; list-style: inside;}
.portfolio section button{display: block; margin-top: 30px; cursor: pointer; border: none; background: none; cursor: url("../images/hand.cur"), auto;}
.portfolio section button .arrow{margin-left: 10px; position: relative; left: 0;}
.portfolio section:hover{transform: rotate(3deg);}







