@charset "utf-8";

/*font*/
@font-face{
	font-family:nanum;
	src:local('NanumGothic'),
		url("../font/NanumGothic.eot"),
		url("../font/NanumGothic.woff") format('woff'),
		url("../font/NanumGothic.ttf") format('truetype');
}

/*reset*/
*{box-sizing: border-box; outline:none;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit; cursor: url("../images/bird_cursor.cur"), auto;}
body{font: normal 16px/1.5em "nanum"; background-color: #fff; color: #222; cursor: url("../images/bird_cursor.cur"), auto;}
input:focus{outline:none;}

/*scroll*/
body {    
    overflow: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
	height: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }


/*top*/
.top{width: 100%; height: 800px; position: relative;}
.intro{position: absolute; top:80px; width: 320px; height: 200px;}
.intro .logo{width: 125px; height: 50px;}
.intro .line{width: 50px; height: 2px; background-color: #222; margin-top: 40px; margin-left: 5px;}
.intro .txt{display: block; margin-top: 30px; line-height: 30px; color: #222; font-weight: bold;}
.email{position: absolute; top: 200px; right: -75px; z-index: 1; transform: rotate(-90deg); color: #999; padding-right: 20px; height: 20px; line-height: 20px; border-right: 1px solid #000;}

/*bg*/
.sky{width: 100%; height: 800px; position: absolute; top: 0; left: 0 ;background-color: #f6f6f6; overflow: hidden;}
.bg{width: 1200px; height: 100%; position: relative; margin: 0 auto; padding-top: 30px;}
.bg img{position: absolute;}
.bg img.house{top: 345px; left: 250px;}
.bg img.bird{top: 745px; right: 190px; width: 70px;}
.bg img.child{top: 655px; right: 50px; width: 150px;}
.cloud{position: absolute; left: -200px; top: 100px;}
.cloud_wrap{opacity: 0.2;}

/*bird 애니메이션*/
.bird{animation: bird linear 2s 3s infinite;}

@keyframes bird{
	0%{margin-top: 0px;}
	10%{margin-top: -10px;}
	20%{margin-top: 0px;}
	30%{margin-top: -10px;}
	40%{margin-top: 0px;}
	100%{margin-top: 0px;}	
}


/*skill*/
.skill{width: 1200px; margin: 0 auto; padding-top: 160px; margin-bottom: 80px;}
.skill >span.tit{font-size: 25px; font-weight: bold; display: block; margin-bottom: 30px;}
.skill >ul > li{list-style: inside; line-height: 30px;}

.skill>section{float: left; margin-top: 30px;width: 300px; height: 430px; text-align: center; line-height: 25px;}
.skill>section>img{width: 200px;}
.skill>section>span{display: block;text-align: left; margin: 0 20px; border-bottom: 1px solid #000; font-weight: bold;padding-bottom: 10px; margin-bottom: 10px; font-size: 15px;}
.skill>section>ul{text-align: left; padding-left: 20px; font-size: 14px;}

/*post*/
.post{width: 450px; height: 240px; background-color: #FFF572; padding: 50px; clear: both; margin-left: 00px; margin-bottom: 80px;}
.post span.tit{font-size: 25px; display: block; line-height: 40px; text-decoration: underline; margin-bottom: 20px; font-weight: bold;}
.post span.txt{line-height: 25px; font-size: 14px;}
.post:hover{background-color: #2effc0;}

/*skill_fin*/
.skill_fin span{display: block;}
.skill_fin .tit{font-weight: bold; font-size: 22px; margin-bottom: 30px;}
.skill_fin li{line-height: 30px; list-style: inside;}
/*pos:r로 가려질땐 z 인덱스 주고 pos:r 줘야함*/

/*portfolio tit*/
.portfolio{width: 100%; height: 580px;padding: 80px 0;}
.portfolio .center_wrap{width: 1200px; margin: 0 auto;}
.portfolio .tit{font-size: 25px; font-weight: bold; display: block; margin-bottom: 50px;}

/*portfolio section*/
.portfolio section{width: 370px; float: left; margin-right: 30px; padding: 50px; background-color: #F9B1CC;}
.portfolio .stit{display: block; margin-bottom: 25px; font-weight: bold; font-size: 20px;}
.portfolio ul li{line-height: 30px; font-size: 16px; list-style: inside;}
.portfolio section button{display: block; margin-top: 30px; cursor: pointer; border: none; background: none; cursor: url("../images/bird_cursor.cur"), auto;}
.portfolio section button .arrow{margin-left: 10px; position: relative; left: 0;}
.portfolio section:hover{background-color: #829bf7;}

.adult{float: right; margin-right: 60px; margin-bottom: 30px; cursor: pointer;}





